<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>&quot;MyFavoriteSinger nécessite l&apos;accès à votre bibliothèque musicale pour vous permettre d&apos;importer et de lire vos musiques préférées</string>
</dict>
</plist>
